{% extends 'base.html' %}

{% block title %} Sign in {% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block jumbotron %}{% endblock jumbotron %}

{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>You don't have permissions for this page.</p>
        {% else %} 
        {% endif %}
    {% endif %}

    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    {% if form.errors %} 
                        <h2 class="text-uppercase text-center mb-5">Incorrect username or password</h2>
                    {% else %}
                        <h2 class="text-uppercase text-center mb-5">Sign in to your account</h2>
                    {% endif %}
                    <form method="post" action="{% url 'home-view' %}">
                        {% csrf_token %}
                      <div class="form-outline mb-4">
                        {{ form.username }}
                        <label class="form-label">{{ form.username.label }}</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        {{ form.password }}
                        <label class="form-label">{{ form.password.label }}</label>
                      </div>

                      <div class="d-flex justify-content-center">
                        <input type="submit" value="Sign in" class="btn btn-primary btn-lg btn-block">
                        <input type="hidden" name="next" value="{{ next }}">
                      </div>

                      <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'signup-view' %}"
                          class="fw-bold text-body"><u>Register here</u></a></p>
      
                    </form>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}

{% block footer %}{% endblock footer %}