{% extends 'base.html' %}

{% block title %} Sign up {% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block jumbotron %}{% endblock jumbotron %}

{% block content %}
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Create an account</h2>
      
                    <form method="post" action="{% url 'signup-view' %}">
                      {% csrf_token %}
                      {% for field in form %}
                      <div class="form-outline mb-4">
                        {{ field }}
                        <label class="form-label">{{ field.label }}</label>
                      </div>
                      {% endfor %}            
                      <div class="d-flex justify-content-center">
                        <input type="submit" value="Sign up" class="btn btn-primary btn-lg btn-block">
                        <input type="hidden" name="next" value="{{ next }}">
                      </div>
      
                      <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="{% url 'login' %}"
                          class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}

{% block footer %}{% endblock footer %}