{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    {% block custom_css %}{% endblock custom_css %}
    <title>SQL Gen - {% block title %}{% endblock title %}</title>
</head>
<body>
  <header>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home-view' %}">SQL Query Generator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home-view' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'generate-view' %}">Generate SQL</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'history-view' %}">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next=/">Log out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Sign in</a>
              </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    {% endblock navbar %}
    {% block jumbotron %}
    <div class="p-5 text-center">
      <h1 class="mb-3">SQL Query Generator</h1>
      <h4 class="mb-3">Based on OpenAI's GPT-3.5</h4>
      <a class="btn btn-primary" href="{% url 'generate-view' %}" role="button">Try out now</a>
    </div>
    {% endblock jumbotron %}
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  {% block footer %}
  <footer class="bg-dark text-center text-white"> 
    <div class="container p-4 pb-0">
      {% if not user.is_authenticated %}
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
            <a href="{% url 'signup-view' %}" class="text-white">Register for free</a>
        </p>
      </section>
      {% endif %}
    </div>
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-google"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="#">mziemianek</a>
    </div>
  </footer>
  {% endblock footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
